.city-container {
    display: inline-block;
    margin: 20px;
    position: relative;
}

.button {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: box-shadow 0.4s linear, background-color 0.4s linear;
    margin-top: 10px;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.child-container {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 10px;

}
@media screen and (max-width: 650px) {
    .child-container{
        position: relative;
    }
}


